* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  :root {
    --colorPrincipal: white;
    --colorSecundaria: rgb(59, 59, 59);
    --colorTerciaria: rgb(29, 29, 29);
    --colorQuartenaria: rgb(65, 65, 65);
    --colorQuintenaria: rgb(51, 51, 51);
    --colorShadeA: rgb(77, 77, 77);
    --colorShadeB: rgb(82, 82, 82);
    --colorShadeC: rgb(121, 121, 121);
    --colorShadeD: rgb(179, 179, 179);
    --colorShadeE: rgb(189, 189, 189);
    --colorShadeA-red: rgb(179, 0, 0);
    --colorShadeB-red: rgb(187, 0, 0);
    --colorShadeC-red: rgb(247, 63, 63);
    --colorShadeD-red: rgb(255, 77, 77);
    --colorShadeE-red: rgb(255, 102, 102);
  }
  
  body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background-index.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .monitor {
    margin-top: 9vh;
    width: 65vw;
    height: 75vh;
    border-radius: 30px;
    background-color: var(--colorTerciaria);
    box-shadow: 0 0 7px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .moldura-monitor {
    width: 63.5vw;
    height: 72vh;
    border: 3px solid var(--colorSecundaria);
    border-radius: 25px;
    background-color: var(--colorSecundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .componenetes-monitor {
    width: 61vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    min-height: 70vh;
  }
  
  .tela-monitor {
    width: 61vw;
    height: 60vh;
    border-radius: 25px;
    background-color: var(--colorTerciaria);
    position: relative;
    overflow:auto;
    overflow-x: hidden;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
  }
  
  .tela-monitor::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .tela-monitor::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  .tela-monitor::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }
  .functions-monitor {
    width: 61vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    margin: 5px;
  }
  
  button.big-button {
    padding: 1em 2em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  button.big-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  button.big-button:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
  }
  
  button.big-button:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button:active {
    transform: translate(0em, 0.75em);
  }
  
  button.big-button:active::before {
    transform: translate3d(0, 0, -1em);
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
  }
  button.big-button.shutdown {
    border: 2px solid var(--colorShadeA-red);
    background: var(--colorShadeE-red);
}

button.big-button.shutdown::before {
    background: var(--colorShadeC-red);
    box-shadow: 0 0 0 2px var(--colorShadeB-red), 0 0.75em 0 0 var(--colorShadeA-red);
}

button.big-button.shutdown:hover {
    background: var(--colorShadeD-red);
}

button.big-button.shutdown:active {
    transform: translate(0em, 0.75em);
    box-shadow: 0 0 0 2px var(--colorShadeB-red), 0 0.25em 0 0 var(--colorShadeB-red);
}
  .suporte-monitor {
    width: 20vw;
    height: 15vh;
    border: 2px solid var(--colorTerciaria);
    border-radius: 5px 5px 0 0;
    background-color: var(--colorQuintenaria);
  }
  
  @media only screen and (max-width: 600px) {
    body {
      min-height: 100vh;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {}
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {}
  
  @media only screen and (min-width: 1441px) {}
  