* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  :root {
    --colorPrincipal: white;
    --colorSecundaria: rgb(5, 5, 5);
  }
  
  body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/teste.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tela-monitor {
    margin-left: 3vw;
    width: 63vw;
    height: 74vh;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .menus-monitor {
    width: 5vw;
    height: 73vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(14, 14, 14);
  }
  .energy {
    margin-top: 10px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    background-color: rgba(240, 248, 255, 0);
  }
  .energy-icon {
    color: rgba(0, 255, 0, 0.822);
    transition: color 1s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }
  .conteudo-monitor {
    margin-top: 10px;
    margin-left: 10px;
    width: 60.5vw;
    height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(14, 14, 14);
  }
  .conteudo-monitor::-webkit-scrollbar {
    background-color: rgba(240, 248, 255, 0);    
  }
  
  .conteudo-monitor::-webkit-scrollbar-track {
    background-color: rgba(240, 248, 255, 0);
  }
  
  .conteudo-monitor::-webkit-scrollbar-thumb {
    background-color: rgba(240, 248, 255, 0);
  }
  @media only screen and (max-width: 600px) {
    body {
      min-height: 100vh;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {}
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {}
  
  @media only screen and (min-width: 1441px) {}
  